body {
	margin: 0;
	background: var(--p4);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
	max-height: 100%;
  display: block;
}
